<div class="container-fluid">
  <h1> The vinyl has been added to your collection </h1>
  <br>
  <a href="/user/<%= current_user.slug %>" >Click here to see your collection</a>
</div><!--end container-fluid-->
