<h1><%=@user.username%></h1>

  <h1>Welcome to your homepage</h1>

<% if !@vinyls.empty? %>
  <% @vinyls.each do |vinyl| %>
    <h3><%= vinyl.artist %></h3>
    <h3><%= vinyl.album_name %></h3>
  <% end %>
<% else %>
  <p> Please add vinyl's to your collection!</p>
<% end %>
