<div class="container-fluid">
  <h1>SIGN UP</h1>
  <form method="post" action='/signup'>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="UsernameInput">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter Username">
      </div><!--end col-md-8-->
    </div><!--end form-group-->
    <div class="form-group row">
      <div class="col-md-2">
        <label for="PasswordInput">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password">
      </div><!--end col-md-8-->
    </div><!--end form-group-->
    <div class="form-group row">
      <div class="col-sm-10">
        <input class="btn btn-primary" type="submit" value="Sign Up">
      </div><!--end col-sm-10-->
    </div><!--end form-group row-->
  </form>
</div><!--end container-fluid-->
