<form method="post" action="/database/new">
  <p>Artist:<input type="text" name="artist"></p>
  <p>Album:<input type="text" name="album_name"></p>
  <p>Record Label:<input type="text" name="record_label"></p>
  <p>Year Released:<input type="number" name="year_released"></p>
  <p>Genre:<input type="text" name="genre"></p>
  <input type="submit" value="Submit New Vinyl">
</form>
