<div class="container">
  <div class="row">
    <%@dbvinyl.each do |vinyl|%>
      <div class="col-sm-4">
        <img src="<%=vinyl.image.image.url%>" height="300" class="img-thumbnail">
        <br>
        <h2><a href="/database/<%=vinyl.slug_artist%>/<%=vinyl.slug_album%>"><%=vinyl.album_name%></a></h2>
      </div><!--end col-sm-4-->
    <%end%>
  </div><!--end row-->
</div><!--end container-fluid-->
