<div class="row">
  <div class="col-sm-12">
  <h4>About the Website:</h4>
  <p>Record Your Records is a community driven Vinyl collection site. Users may search for specific vinyl's in our database as well as adding vinyl's that have not yet been added.</p><br>
  <p>Browse our database of vinyls and add any to your own personal collection of vinyls!</p><br>
  <h4>About the Creator:</h4>
  <p>Currently embarking on a path to coding, this website is a project by Kevin Kang to build a community of like minded music lovers!</p><br>

  </div> <!-- col-sm-12 -->
</div><!-- row -->
