<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Record Your Records</h1>
      <h2>Start your own vinyl collection!</h2>
      <h4>Please <a href="/signup"><input type="submit" value="Sign Up"></a> - OR - <a href="/login"><input type="submit" value="Log In"></a></h4>
    </div> <!-- col-md-12 -->
  </div> <!-- row -->
</div>
