<!doctype html>
<html>
  <head>
    <title>Record your Records</title>
  </head>
  <body>

    <div class="container">
      <h1>Record your Records!</h1>
    </div>

    <%= yield %>

  </body>
</html>
