<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Record your Records</title>
  </head>
  <body>

    <div class="container">
      <h1>Record your Records!</h1>
    </div>

    <%= yield %>

  </body>
</html>
