<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Record your Records</title>
  </head>
  <body>
    <img src="images/vinyls-youredm.jpg" alt="Vinyl Header." title="Welcome to your Vinyl Collection" style="width:1000px; height: 200px;"><!-- alt text is for screen readers and search engines -->

    <div class="container">
      <h1>Record your Records!</h1>
    </div>

  <a href="/signup">Sign Up</a> <a href="/login">Login</a>

    <%= yield %>

  </body>
</html>
