<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Record your Records</title>
    <link rel="stylesheet" type = "text/css" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="backimage"></div>


      <div class="container">
        <h1>Record your Records!</h1>
      </div>

    <nav>
      <%if logged_in?%>
        <a href="/signup">Sign Up</a> <a href="/login">Login</a> <a href="/user/<%=current_user.slug%>">Homepage</a> <a href="/database/vinyls">Database Homepage</a> <a href="/database/new">Add to Database</a>
        <a href="/database/search">Search Database</a> <a href="/user/<%=current_user.slug%>/search">Search Own Collection</a> <a href="/logout">Log Out</a>
      <% else %>
        <a href="/signup">Sign Up</a> <a href="/login">Login</a>
      <%end%>
    </nav>
    </header>

    <%= yield %>

    <footer>
      &copy; 2019 Record for Records. All Rights Reserved.
    </footer>

  </body>
</html>
